[submodule "cdpo"]
	path = cdpo
	url = https://github.com/dvitorsantos/cdpo.git
[submodule "context-matcher"]
	path = context-matcher
	url = https://github.com/dvitorsantos/context-matcher.git
[submodule "iotcataloguer"]
	path = iotcataloguer
	url = http://git.lsdi.ufma.br/cdpo/iotcataloguer.git
[submodule "tagger"]
	path = tagger
	url = http://git.lsdi.ufma.br/cdpo/tagger.git
[submodule "cloudnode"]
	path = cloudnode
	url = https://github.com/dvitorsantos/cloudnode.git
[submodule "fognode"]
	path = fognode
	url = https://github.com/dvitorsantos/fognode
[submodule "edgenode"]
	path = edgenode
	url = https://github.com/dvitorsantos/edgenode.git